<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Time Zone</title>
    <link rel="stylesheet" href="css/styles.css">
</head>
<body>
    <img class="backgroundPage" src="img/backgroundIMG.jpg">
    <div class="clockContainer">
        <h1 class="name"><%= name %></h1>
        <div class="clock" id="clock"></div>
        <div class="clockContainerBackground"></div>
        <div class="divider"></div>
        <div class="timeZoneOptionsContainer">
            <label for="timeZoneName" class=" text labelOptions">Time Zone:</label>
            <form class="optionsForm" action="/" method="POST">
                <select class="text select" name="timeZoneName" id="timeZoneName" required>
                    <% for (let i = 0; i < time_zones.length; i++) { %>
                        <% if (time_zones[i] === name) { %>
                            <option class="option" value="<%= time_zones[i] %>" selected ><%= time_zones[i] %></option>
                        <% } else { %>
                            <option class="option" value="<%= time_zones[i] %>"><%= time_zones[i] %></option>
                        <% } %>
                    <% } %>
                </select>
                <input class="submitbnt text" type="submit">
            </form>
        </div>
    </div>
    <input type="hidden" id="houres" value=<%=time.houres%> >
    <input type="hidden" id="minutes" value=<%=time.minutes%> >
    <input type="hidden" id="seconds" value=<%=time.seconds%> >
    <script src="js/clock.js"></script>
</body>
</html>